[submodule "dependencies/libSLIPspeed"]
	path = dependencies/libSLIPspeed
	url = https://github.com/ulikoehler/libSLIPspeed
[submodule "dependencies/magic_enum"]
	path = dependencies/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "dependencies/argparse"]
	path = dependencies/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "dependencies/atomic_queue"]
	path = dependencies/atomic_queue
	url = https://github.com/max0x7ba/atomic_queue.git
[submodule "dependencies/glaze"]
	path = dependencies/glaze
	url = https://github.com/stephenberry/glaze.git
